.AdvantageSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.AdvantageLeft {
  flex: 0.5;
  height: 80vh;
  position: relative;
  margin-left: 90px;
  position: relative;
  left: 100px;
}

.AdvantageRight {
  flex: 0.5;
  z-index: 2;
  height: 81vh;
  position: relative;
}

.AdvantageRight img {
  width: 82%;
  margin-top: -40px;
}

.AdvantageSmoke {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35%;
  z-index: -1;
}

.Heading {
  color: #ff5555;
  font-size: 1.2rem;
}

.Premium {
  font-size: 2.5rem;
  margin: 5px 0px;
  margin-top: -10px;
  font-weight: 900;
}

.BellNoti {
  z-index: 1;
}
.BellNoti img {
  width: 45px;
  margin-right: 10px;
}

.BellNoti h2 {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.BellNoti p {
  font-size: 1rem;
  font-weight: 400;
  width: 75%;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .AdvantageSection {
    flex-direction: column;
    margin: 0px 20px;
  }

  .AdvantageLeft {
    flex: 0.5;
    height: 80vh;
    margin: 20px 20px ;
    left: 0px;
  }
}
